---
import Head from './Head.astro';
import '@style/reset.css';
import '@style/util.css';
import '@style/style.css';
import '@style/theme.css';
---

<!DOCTYPE html>
<html lang="en">
  <Head />
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
